*.old
.sass-cache
bower_components/
build/
generators/
node_modules/
npm-debug.log*
src/l10n/ja_JA/
src/parsedown
tasks/swatch4.js
todo.md
vendor/

# Linux
*~
.Trashes

# workspace files are user-specific
*.sublime-workspace

# project files should be checked into the repository, unless a significant
# proportion of contributors will probably not be using SublimeText
*.sublime-project