pre code {
  word-break: normal;
}

.modal {

  iframe {
    border-width: 1px;
  }

  img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  video,
  audio {
    width: 100%;
  }
}

.embed-responsive-1by1 {
  padding-bottom: 100%;
}
