@import '../../node_modules/bootstrap/scss/_variables';


// Table pseudo-styles
.table {

  tr::before {
    border-top: 1px solid $table-border-color;
  }

  tbody tr:first-child::before {
    border-top: 2px solid $table-border-color;
  }
}

.table-inverse {

  tr::before {
    border-top: 1px solid $gray;
  }

  tbody tr:first-child::before {
    border-top: 2px solid $gray;
  }
}


// Table styles
th {
  cursor: pointer;
}

tr::before {
  display: table-cell;
  line-height: $line-height;
  padding: $table-cell-padding;
  text-align: right;
  vertical-align: top;
  width: 1rem;
}

tfoot {

  tr::before {
    border-top-width: 1px;
    content: '';
  }
}

// Row counter
thead {
  tr::before {
    content: '#';
    font-weight: bold;
  }
}

tbody {
  counter-reset: listr-rows;

  tr {
    counter-increment: listr-rows;
  }

  tr::before {
    color: $text-muted;
    content: counter(listr-rows);
  }

}
