@import '../../node_modules/bootstrap/scss/_variables';

// Row counter
thead tr::before {
  border-top: 1px solid $table-border-color;
  content: '#';
  font-weight: bold;
}

tbody {
  counter-reset: listr-rows;

  tr {
    counter-increment: listr-rows;
  }

  tr:first-child::before {
    border-top: 2px solid $table-border-color;
  }

  tr::before {
    border-top: 1px solid $table-border-color;
    color: $text-muted;
    content: counter(listr-rows);
  }
}

th {
  cursor: pointer;
}

tr::before {
  display: table-cell;
  line-height: $line-height;
  padding: $table-cell-padding;
  text-align: right;
  vertical-align: top;
  width: 1rem;
}
